header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 10px;
}

input:hover,
input:focus {
  box-shadow: 0 0 5px white;
}

.add-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}

.add-btn:hover {
  background-color: antiquewhite;
}
