.grid-home {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.grid-card {
  height: calc(100vh - 170px);
  padding: 20px;
}

.animals {
  background: url('https://source.unsplash.com/500x400/weekly?fox') top
    center/cover;
}
.birds {
  background: url('https://source.unsplash.com/500x400/weekly?swan') top
    center/cover;
}
