.home-flex-container {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.animals-flex {
  width: 500px;
  background-image: url('https://source.unsplash.com/500x400/?fox');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.birds-flex {
  width: 500px;
  background-image: url('https://source.unsplash.com/500x400/?bird');
  display: flex;
  flex-direction: column;
  align-items: center;
}
