.grid-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.grid-card {
  height: calc(100vh - 130px);
}
.animals {
  background: url('https://source.unsplash.com/600x500/weekly?fox') top
    center/cover;
}
.birds {
  background: url('https://source.unsplash.com/600x500/weekly?swan') top
    center/cover;
}
