.like-btn {
  background-color: #f6f7f9;
  width: 25px;
  height: 25px;
}

.card-likes-area {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-count {
  margin-left: 5px;
  font-size: 1.3em;
}

i {
  margin-right: 5px;
}
