.card {
  width: 200px;
  background-color: #485363;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card:hover {
  box-shadow: 0 0 10px #139eca;
}

h3 {
  padding: 10px 0px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.card-likes-area {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound-icon i {
  color: #f6f7f9;
}

.sound-icon i:hover {
  color: #dadadd;
}
