header {
  background-color: #22272f;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.header-flex {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
