* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #22272f;
}

main {
  display: flex;
  justify-content: center;
  padding: 85px 20px;
}
