* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #22272f;
}

main {
  display: flex;
  justify-content: center;
  padding: 85px 20px;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: rgb(224, 224, 224);
}
