.card {
  background-color: #485363;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card:hover {
  box-shadow: 0 0 10px #139eca;
}

.remove-btn {
  background-color: #f6f7f9;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
}

img {
  width: 200px;
  border-radius: 5px;
}

h3 {
  padding: 10px 0px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.like-btn {
  background-color: #f6f7f9;
  width: 25px;
  height: 25px;
}

.card-likes-area {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-count {
  margin-left: 5px;
  font-size: 1.3em;
}

i {
  margin-right: 5px;
}
